/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --large-text-color: #db00ff;
  --all-project-fontfam: "IBM Plex Mono", sans-serif;
  --p-text-color: #f1b2ce;
  --button-color: #ff0070;
  --title-decor-color: #000028;
  --button-border-color: rgb(255, 0, 112, 0.4);
}
